body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
::-webkit-scrollbar {
    display: none;
}
:root {
    --bg-lightgray: #F5F5F5;
    --main-theme-white: #FFFFFF;
    --main-theme-blue: #3288FF;
    --main-theme-pink: #F53083;
    --main-theme-orange: #FFA932;
}
