:root {
    --bg-gray: #F5F5F5;
    --main-theme-white: #FFFFFF;
    --main-theme-blue: #3288FF;
    --main-theme-pink: #F53083;
    --main-theme-orange: #FFA932;
}

html,
body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-gray);
}
